/* h1 {
    background-color: powderblue;color:red;
}
p {
    color:blue;
} */
#aboutMe 
{
    /* float: center */
    top: 30px;
    left: 80px;
    right: 80px;
    bottom: 30px;
    height: 500px;
    border-style: groove;
    border-color: tomato;
    background: lightgrey;
}

    #edHistory 
    {
        box-sizing: content-box;
        float: left;
        width: 22%;
        height: 250px;
        border: solid rgb(161, 114, 11) 10px;
        padding: 25px;
        margin-left: 20px;
        margin-top: 20px;
        background: red;
    }
    #job 
    {
        box-sizing: content-box;
        float: left;
        width: 22%;
        height: 250px;
        border: solid rgb(161, 114, 11) 10px;
        padding: 25px;
        margin-left: 20px;
        margin-top: 20px;
        background: burlywood;
    }
    #goals
    {
        box-sizing: content-box;
        float: left;
        width: 22%;
        height: 250px;
        border: solid rgb(161, 114, 11) 10px;
        padding: 25px;
        margin-left: 20px;
        margin-top: 20px;
        background: greenyellow;
    }
    #eagles
    {
        /* width: 27%;
        border: solid #5B6DCD 10px;
        padding: 5px;
        background: greenyellow;
        float: center;
        background: teal;
        text-align: center; */
        float: right;
        border: solid rgb(18, 166, 177) 10px;
        padding: 5px;
        margin-top: 20px;
        top: 30px;
        left: 30px;
        right: 30px;
        bottom: 30px;
        display: block;
        padding: 20px;
        background: teal;
        text-align: center;
    }